---
import { getCollection } from "astro:content";
import { languages } from "~/i18n/languages";
import { i18n } from "~/i18n/utils";
import MainLayout from "~/layouts/MainLayout.astro";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const allPosts = await getCollection("blog");

const posts = allPosts
  .map((post) => ({
    ...post,
    slug: post.slug.split("/").pop(),
  }))
  .filter((post) => post.data.lang === Astro.params.lang);

i18n.locale(Astro.params.lang);
---

<MainLayout>
  <div class="bg-primary text-secondary px-4 flex-1 flex flex-col">
    <main class="flex-1">
      <h1>{i18n.t("home.title")}</h1>
      <ul>
        {
          posts.map((post) => {
            return (
              <li>
                <span
                  data-id="postPublishDate"
                  data-value={post.data.publishDate}
                  data-lang={Astro.params.lang}
                >
                  {new Date(post.data.publishDate).toLocaleString(
                    Astro.params.lang
                  )}
                </span>
                <a href={`/${Astro.params.lang}/blog/${post.slug}`}>
                  {post.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </main>
    <footer>
      <h2>I am the footer</h2>
    </footer>
  </div>

  <script>
    const postsDates = document.querySelectorAll("[data-id=postPublishDate]");
    postsDates.forEach((date) => {
      const dateValue = date.getAttribute("data-value");
      const dateLang = date.getAttribute("data-lang");
      const dateObj = new Date(dateValue);
      date.textContent = dateObj.toLocaleString(dateLang, {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
      });
    });
  </script>
</MainLayout>
